<!-- Wrapper-->
<div >
    <!-- End page wrapper-->
    <div ng-controller="loginCtrl as login">



      <div class="middle-box text-center loginscreen  animated fadeInDown ng-scope"  novalidate>
          <div>
              <div>
                  <h1 class="logo-name">MTS</h1>
              </div>
              <h3>Welcome to NewSample</h3>
              <p>Yo yo welcome !
              </p>
              <p>Login in.</p>
              <form name="loginForm" class="m-t ng-pristine ng-valid" role="form" action="#" method="post">

                  <div class="form-group">
                      <input name="email" ng-keyup="$event.keyCode == 13 && login.login()"  type="text" class="form-control" placeholder="Username" ng-model="login.email" required="">
                  </div>
                  <div class="form-group">
                      <input name="password" ng-keyup="$event.keyCode == 13 && login.login()" type="password" class="form-control" placeholder="Password" ng-model="login.password" required="">
            		   </div>
                  </div>
                  <input  type="submit" name="loginForm" class="btn btn-primary block full-width m-b" ng-click="login.login()">Login</input>

                  <a ui-sref="forgot_password" href="/forgot_password"><small>Forgot password?</small></a>
                  <p class="text-muted text-center"><small>Do not have an account?</small></p>
                  <a class="btn btn-sm btn-white btn-block" ui-sref="register" href="/register">Create an account</a>
              </form>
          </div>
      </div>


    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->
