<div class="footer">
    <div class="pull-right">
        See <strong><a href="http://webapplayers.com/inspinia_admin-v2.3/Angular/#/dashboards/dashboard_5">theme</a></strong> .
    </div>
    <div>
        <strong>Copyright</strong> NewSample &copy; 2014-2015
    </div>
</div>
