<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">

                                    <h1>NewSample</h1>

                             </span>
                                <!--<span class="text-muted text-xs block">Example menu<b class="caret"></b></span>-->
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    MTS
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="ui.dashboard"><i class="fa fa-laptop"></i> <span class="nav-label">Dashboard</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ui.project"><i class="fa fa-lock"></i> <span class="nav-label">Project</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="ui.user"><i class="fa fa-user"></i> <span class="nav-label">Users</span> </a>
            </li>

          <!--<li ui-sref-active="active">-->
            <!--<a ui-sref="ui.main"><i class="fa fa-desktop"></i> <span class="nav-label">major page</span></a>-->
          <!--</li>-->
            <!--<li ui-sref-active="active">-->
                <!--<a ui-sref="ui.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>-->
            <!--</li>-->
        </ul>

    </div>
</nav>
