<div class="wrapper wrapper-content animated fadeIn" ng-controller="searchCtrl as search">

  <div class="p-w-md m-t-sm">


<div class="row">
    <div class="flot-chart m-b-xl">
      <div flot class="flot-chart-content"  dataset="search.flotData" options="search.flotOptions"></div>
      </div>
</div>
  </div>
    <div class="row">
      <div class="col-lg-12">
        <search options="search.options"></search>
      </div>
    </div>

  </div>


</div>

