
        <div class="ibox">
          <div class="ibox-content">

            <div class="row">
              <div class="col-sm-10">
                <div class="form-group">
                  <input type="text" id="product_name" name="product_name" value="" placeholder="search" class="form-control" ng-model="options.search">
                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <select name="status" id="status" class="form-control" ng-model="options.level">
                    <option value="" selected="">All</option>
                    <option value="DEBUG" >Debug</option>
                    <option value="INFO" >Info</option>
                    <option value="WARN">Warning</option>
                    <option value="ERROR">Error</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="table-responsive">
              <table class="table table-striped">

                <tbody>
                <tr ng-repeat="entry in eventLog.list"   >
                  <td class="col-md-2">{{entry.timeStamp | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                  <td class="col-md-9" style="overflow:hidden;">

                  <span click-link="entry" click-value="entry">{{entry.message}}</span></td>

                  <td class="col-md-1">
                    <level level="entry.level | levelName"></level>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
