<div class="wrapper wrapper-content " ng-controller="factionCtrl as factions" ng-init="factions.crud.start()">

  <div ng-show="factions.crud.display" class="row  "
  ng-class="{'animated fadeInUp' : factions.crud.display, 'animated fadeOutUp' : !factions.crud.display}">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Add Faction</h5>
        </div>
        <div class="ibox-content">
          <div>
            <ng-include ng-init="crud = factions.crud" src="'app/faction/factionForm.html'"></ng-include>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group ">
              <button class="btn btn-white" ng-click="factions.crud.cancel()" type="submit">Cancel</button>
              <button class="btn btn-primary" ng-click="factions.crud.save()" type="submit">Save changes</button>
              <a ng-if="factions.crud.currentItem.id" class="btn btn-danger btn-rounded btn-outline pull-right" ng-click="factions.crud.removeItem(factions.crud.currentItem)">Delete</a>
            </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row" ng-show="!factions.crud.display" ng-class="{'animated fadeInUp' : !factions.crud.display, 'animated fadeOutUp' : factions.crud.display}">
    <div class="col-lg-12" >
      <div class="ibox">
        <div class="ibox-title">
          <h5>Factions</h5>
          <div class="ibox-tools">
            <a ng-click="factions.crud.showAdd()" class="btn btn-primary btn-xs">Add new faction</a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <div class="input-group col-sm-12">
              <input type="text" placeholder="Search faction by name..." ng-model="factions.crud.searchString" class="form-control " />

            </div>
            <div class="m-t-md">
              <strong>{{factions.crud.list.count}} certified files.</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="!factions.crud.display" >
    <div class="col-lg-12"  ng-class="{'animated fadeInUp' : !factions.crud.display, 'animated fadeOutUp' : factions.crud.display}">
      <div class="ibox">

        <div class="ibox-content">
          <div>
            <table class="table table-striped">

              <tbody>
                <tr ng-repeat="faction in factions.crud.list.items | filter:factions.crud.searchString">
                  <td>{{faction.name}}</td>
                  <td>{{faction.updateDate | date}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
