<div class="wrapper wrapper-content " ng-controller="projectCtrl as projects" ng-init="projects.crud.start()">

  <div ng-show="projects.crud.display" class="row  "
  ng-class="{'animated fadeInUp' : projects.crud.display, 'animated fadeOutUp' : !projects.crud.display}">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Add Project</h5>
        </div>
        <div class="ibox-content">
          <div>
            <ng-include ng-init="crud = projects.crud" src="'app/project/projectForm.html'"></ng-include>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group ">
              <button class="btn btn-white" ng-click="projects.crud.cancel()" type="submit">Cancel</button>
              <button class="btn btn-primary" ng-click="projects.crud.save()" type="submit">Save changes</button>
              <a ng-if="projects.crud.currentItem.id" class="btn btn-danger btn-rounded btn-outline pull-right" ng-click="projects.crud.removeItem(projects.crud.currentItem)">Delete</a>
            </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row" ng-show="!projects.crud.display" ng-class="{'animated fadeInUp' : !projects.crud.display, 'animated fadeOutUp' : projects.crud.display}">
    <div class="col-lg-12" >
      <div class="ibox">
        <div class="ibox-title">
          <h5>Projects</h5>
          <div class="ibox-tools">
            <a ng-click="projects.crud.showAdd()" class="btn btn-primary btn-xs">Add new project</a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <div class="input-group col-sm-12">
              <input type="text" placeholder="Search project by name..." ng-model="projects.crud.searchString" class="form-control " />

            </div>
            <div class="m-t-md">
              <strong>{{projects.crud.list.count}} certified files.</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-show="!projects.crud.display" >
    <div class="col-lg-12"  ng-class="{'animated fadeInUp' : !projects.crud.display, 'animated fadeOutUp' : projects.crud.display}">
      <div class="ibox">

        <div class="ibox-content">
          <div>
            <table class="table table-striped">

              <tbody>
                <tr ng-repeat="project in projects.crud.list.items | filter:projects.crud.searchString">
                  <td>{{project.name}}</td>
                  <td>{{project.updateDate | date}}</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
