<form name="projectForm" method="get" class="form-horizontal ng-pristine ng-valid">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input name="Name" type="text" class="form-control" ng-model="crud.currentItem.name">
    </div>
  </div>
</form>
