﻿<div>
  
    <div id="LoginFormSection">
        <p>To use the api you will beed to be authenticated. Please enter your details below.</p>  
        <h3>Enter login details here to try the api as authorized user</h3>
        <form id="loginForm"  href="#">
            <input name="client_id" type="hidden" value="NewSample.Api">
            <input name="grant_type" type="hidden" value="password">
            <div class="input" style="margin-bottom: 5px;">
                <label for="inputUserName" >User Name</label>
                <input id="inputUserName" name="username" type="text" placeholder="User Name" style="margin-left: 10px">

            </div>
            <div class="input" style="margin-bottom: 5px;">
                <label for="inputPassword" >Password</label>
                <input id="inputPassword" name="password" type="password" placeholder="Password" style="margin-left: 20px">
            </div>
            <div class="input">
                <button type="submit" id="loginButton"
                   style="background-color: #547f00; border: 0px; color: white; display: block; font-size: 0.9em; font-weight: bold; padding: 6px 8px; text-decoration: none; width: 246px;">
                    GetById api key
                </button>
            </div>
        </form>
    </div>
</div>