<div class="wrapper wrapper-content animated fadeInDown" ng-controller="dashboardCtrl as dashboard">

  <div class="row">
    <div class="col-lg-4" ng-repeat="counter in dashboard.allCounter">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{counter.name}}</h5>
        </div>
        <div class="ibox-content">
          <h1 class="no-margins">{{counter.count}}</h1>

          <div>
            <div class="feed-activity-list">
              <div class="feed-element">
              </div>
              <div class="feed-element" ng-repeat="item in counter.items" >

                <div class="media-body ">
                  <small class="pull-right"><time time="item.updateDate" ></time></small>
                  {{item.name}}

                </div>
              </div>


            </div>


          </div>
        </div>
      </div>
    </div>

  </div>
</div>


</div>
