<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Recent notifications</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-hover no-margins">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Notification</th>
          <th>Channel</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="logItem in notification.notificationLog">
          <td><time time="logItem.createDate" ></time></td>
          <td >
            <div >
              <status status="logItem.status" tooltip-placement="bottom" tooltip="{{logItem.lastException}}"></status>
            </div>
          </td>
          <td>{{logItem.notificationName}}</td>
          <td class="text-navy">
            <i class="fa {{notification.channels[logItem.channelKey].faIcon}}" aria-hidden="true"  title="{{notification.channels[logItem.channelKey].name}}" ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
