.form-group .chosen-container-multi .chosen-choices {
  border: 1px solid #e5e6e7 ;
  box-shadow: none ;
}

.form-group .chosen-container-active .chosen-choices {
    border: 1px solid #e5e6e7 ;
    box-shadow: none ;
}

.chosen-container{
    width: 100% !important;
}


.chosen-container .search-field input{
    width: 100% !important;
}
