<div class="wrapper wrapper-content animated fadeIn" ng-controller="notificationCtrl as notification">
  <div class="row">
    <!--Notifications-->

    <div class="col-md-8">
      <div ng-include="'app/notification/notification.notifications.html'" ></div>

    </div>
    <div class="col-md-4">
      <div ng-include="'app/notification/notification.channels.html'" ></div>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-12">
      <div ng-include="'app/notification/notification.recentNotifications.html'" ></div>
    </div>
    <div class="col-lg-12">
      <div ng-include="'app/notification/notification.recentQueueItems.html'" ></div>
    </div>

  </div>
</div>
