<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Recent queue</h5>
  </div>
  <div class="ibox-content">
    <table class="table table-hover no-margins">
      <thead>
        <tr>
          <th>Date</th>
          <th>Status</th>
          <th>Name</th>
          <th>Processing Time</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="queueItem in notification.recentQueue">
          <td><time time="queueItem.scheduledDate" ></time></td>


          <td>
            <span tooltip-placement="bottom" tooltip="{{queueItem.exceptionMessage}}">
              <status status="queueItem.status"></status>
            </span>
          </td>
          <td>{{queueItem.name}}</td>
          <td ><time time="queueItem.lastResponseDate" from-time="queueItem.scheduledDate" ></time></td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
