<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Notifications</h5>
    <div ibox-tools="" class="ng-scope">
      <div class="ibox-tools dropdown" dropdown="">
        <a ng-click="notification.showScheduleForm = !notification.showScheduleForm">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="ibox-content">
    <div class="feed-activity-list">
      <div ng-show="notification.showScheduleForm" class="feed-element">

        <div ng-include="'app/notification/notification.scheduleForm.html'" ></div>
      </div>

      <div class="feed-element" ng-repeat="schedule in notification.notificationSchedules">
        <div>
          <a class="pull-right text-navy" ng-click="notification.edit(schedule)"><i class="pull-right fa fa-wrench"></i></a>
          <strong>{{schedule.name}}</strong>
          <div>{{schedule.description}} </div>
          <small class="text-muted">{{notification.schedules[schedule.schedule].name}}
              <span ng-repeat="(key,selectedChannel) in schedule.channel">
              &nbsp;<i class="fa {{notification.channels[key].faIcon}}" aria-hidden="true"  title="{{notification.channels[key].name}}" ></i></small>
          </span>
        </div>

      </div>

    </div>
  </div>

</div>
