<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h5>Channels </h5>
  </div>

  <div class="ibox-content">

    <div class="feed-activity-list">

      <div class="feed-element" ng-repeat="channel in notification.channels">
        <div>
          <a ng-click="channel.showEdit = !channel.showEdit" class="pull-right text-navy"><i  class="pull-right fa fa-wrench"></i></a>
          <h2><i class="fa {{channel.faIcon}}" aria-hidden="true"></i><strong>&nbsp;{{channel.name}}</strong></h2>
          <div ng-hide="channel.showEdit" class="animate-show">{{channel.summary}}</div>
          <!-- <small class="text-muted">Last updated {{channel.lastUpdate}}</small> -->
          <div ng-show="channel.showEdit" class="m-t-md animate-show">
            <h3>Settings</h3>
            <form role="form" class="ng-pristine ng-valid">

              <div class="form-group " ng-repeat="(key,setting) in channel.settings">
                <label>{{setting.displayName}}</label>
                <input name="{{key}}" ng-model="setting.value" type="{{setting.type}}" placeholder="{{setting.watermark}}" class="form-control">
                <small class="label label-danger">{{channel.errors[key]}}</small>
              </div>

              <div>
                <button ng-disable="channel.disabled" ng-click="notification.saveChannel(channel)" class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Save</strong></button>
              </div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
