
  <form class="form-horizontal ng-pristine ng-valid">
    <p>Please select what notifictions you would like to receive.</p>

    <div class="form-group">
      <label class="col-lg-2 control-label">What</label>
      <div class="col-lg-10">
        <select chosen multiple ng-model="notification.newNotification.notificationType" class="form-control chosen-form-control" style="width:100%;border: 1px solid #e5e6e7;">
          <option ng-repeat="notificationTypes in notification.notifications" value="{{notificationTypes.key}}">{{notificationTypes.name}}</option>
        </select>
        <small class="label label-danger">{{notification.newNotification.errors['notificationType']}}</small>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">When</label>
      <div class="col-lg-10">
        <select ng-model="notification.newNotification.schedule" class="form-control" style="width:100%;border: 1px solid #e5e6e7;">
          <option ng-repeat="schedule in notification.schedules" value="{{schedule.key}}">{{schedule.name}}</option>
        </select>
        <small class="label label-danger">{{notification.newNotification.errors['schedule']}}</small>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Name</label>
      <div class="col-lg-10">
        <input type="text" placeholder="Sample one" ng-focus="notification.nameFocus()" ng-model="notification.newNotification.name" class="form-control">
        <small class="label label-danger">{{notification.newNotification.errors['name']}}</small>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <input type="text" placeholder="Scheduled error report" ng-focus="notification.descriptionFocus()"  ng-model="notification.newNotification.description" class="form-control">
        <small class="label label-danger">{{notification.newNotification.errors['description']}}</small>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Channels</label>
      <div class="col-lg-10">
        <button type="button" ng-repeat="channel in notification.channels" class="m-r-xs btn btn-xs"
          ng-class="{ 'btn-primary' : notification.newNotification.channel[channel.key].enabled,
          ' btn-outline btn-default' : !notification.newNotification.channel[channel.key].enabled
         }"
          ng-click="notification.newNotification.channel[channel.key].enabled = !notification.newNotification.channel[channel.key].enabled ">
          <i class="fa {{channel.faIcon}} m-r-xs " aria-hidden="true"></i> {{channel.name}}
        </button>
      </div>
      <div class="col-lg-10">
        <small class="label label-danger">{{notification.newNotification.errors['channel']}}</small>
      </div>
    </div>

    <div ng-repeat="channel in notification.channels">
      <div ng-show="notification.newNotification.channel[channel.key].enabled">

        <h3 class="col-sm-12 m-l-n"><i class="fa {{channel.faIcon}} m-r-xs " aria-hidden="true"></i>&nbsp;{{channel.name}}</h3>

        <div class="form-group " ng-repeat="(key,setting) in channel.settings" ng-show="setting.allowOverride">
          <label class="col-lg-2 control-label">{{setting.displayName}}</label>
          <div class="col-lg-10">
            <input name="{{key}}" ng-model="notification.newNotification.channel[channel.key].setting[key]" type="{{setting.type}}" placeholder="{{setting.watermark}}. Leave blank to use channel default." class="form-control" />
            <small class="label label-danger">{{channel.errors[key]}}</small>
          </div>

          </div>
          <hr />
        </div>
      </div>
      <div class="form-group">

        <div class="col-lg-offset-2 col-lg-10 pull-right">
          <button ng-hide="notification.newNotification.id" class="btn btn-sm btn-white m-r-xs" type="submit" ng-click="notification.showScheduleForm = false">Cancel</button>
          <button ng-show="notification.newNotification.id" class="btn btn-sm btn-white m-r-xs" type="submit" ng-click="notification.deleteNotification(notification.newNotification)">Delete</button>
          <button class="btn btn-sm btn-primary pull-right" type="submit" ng-click="notification.saveNotification(notification.newNotification)">Save</button>
        </div>
      </div>
  </form>
