<div class="wrapper wrapper-content " ng-controller="userCtrl as users" ng-init="users.crud.start()">

  <div ng-show="users.crud.display" class="row  "
  ng-class="{'animated fadeInUp' : users.crud.display, 'animated fadeOutUp' : !users.crud.display}">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Add User</h5>
        </div>
        <div class="ibox-content">
          <div>
            <ng-include ng-init="crud = users.crud" src="'app/user/userForm.html'"></ng-include>
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group ">
              <button class="btn btn-white" ng-click="users.crud.cancel()" type="submit">Cancel</button>
              <button class="btn btn-primary" ng-click="users.crud.save()" type="submit">Save changes</button>
              <a ng-if="users.crud.currentItem.id" class="btn btn-danger btn-rounded btn-outline pull-right" ng-click="users.crud.removeItem(users.crud.currentItem)">Delete</a>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row" ng-if="!users.crud.display">
    <div class="col-lg-12" ng-class="{'animated fadeInUp' : !users.crud.display, 'animated fadeOutUp' : users.crud.display}">
      <div class="ibox">
        <div class="ibox-title">
          <h5>Users</h5>
          <div class="ibox-tools">
            <a ng-click="users.crud.showAdd()" class="btn btn-primary btn-xs">Add new user</a>
          </div>
        </div>
        <div class="ibox-content">
          <div>
            <div class="input-group col-sm-12">
              <input type="text" placeholder="Search user by name..." ng-model="users.crud.searchString" class="form-control " />

            </div>
            <div class="m-t-md">
              <strong>{{users.crud.list.count}} users.</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4" ng-repeat="user in users.crud.list.items | filter:users.crud.searchString">
      <div class="contact-box animated fadeInRight" ng-mouseover="over[user.id] = true" ng-mouseleave="over[user.id] = false">
        <a ng-click="users.crud.showEdit(user)">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" gravatar-src="user.email" class="img-circle m-t-xs img-responsive center" gravatar-size="80" gravatar-default="retro" />
              <div class="m-t-xs font-bold" ng-repeat="role in user.roles">{{role}}</div>
            </div>
          </div>
          <div class="col-sm-8 user--minheight" >
            <h3><strong>{{user.name}}</strong></h3>
            <p><i class="fa fa-envelope" title="email"></i>&nbsp;{{user.email}}</p>
            <p ng-if="user.phoneNumber"><i class="fa fa-phone" title="phone number"></i>&nbsp;{{user.phoneNumber}}</p>
            <p ng-if="user.lastLoginDate"><i class="fa fa-calendar" title="phone number"></i>&nbsp;{{user.lastLoginDate | date}}</p>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>

  </div>
</div>
