<form name="userForm" method="get" class="form-horizontal ng-pristine ng-valid">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input name="Name" type="text" class="form-control" ng-model="crud.currentItem.name">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input name="Email" type="text" class="form-control" ng-model="crud.currentItem.email">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">PhoneNumber</label>
    <div class="col-sm-10">
      <input name="PhoneNumber" type="text" class="form-control" ng-model="crud.currentItem.phoneNumber">
    </div>
  </div>
</form>
